
// Slick slider

.slack-bg {
  background: rgba($slack, .50);
}
.building{
  pointer-events: auto;
}
.building:hover {
  background: rgba($slack, .25);
}
.blue-divider {
  background-color: blue;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}
.required {
  color: red;
}

.proposition > td:first-child{
  border-left-style:solid;
  border-width:1px !important;
  border-left-color:#f4772e/*#4191ff */!important;
}
.encours > td:first-child{
  border-left-style:solid;
  border-width:1px !important;
  border-left-color:#1bc943 !important;
}
.resilie > td:first-child{
  border-left-style:solid;
  border-width:1px !important;
  border-left-color:#e90707 !important;
}
.accepte > td:first-child{
  border-left-style:solid;
  border-width:1px !important;
  border-left-color:#4191ff !important;
}
.faProposition {
  color: #f4772e;
}
.faAccepte {
  color: #4191ff;
}
.faEncours {
  color: #1bc943;
}
.faResilie {
  color: #e90707;
}
.borderProposition {
  border-color: #f4772e;
}
.borderEncours {
  border-color: #1bc943;
}
.borderResilie {
  border-color: #e90707;
}